{% extends 'todo/base.html' %}

{% block content %}
 <div class="page-inner"> {% if error %}
                <div class="alert alert-danger" role="alert">
                    {{ error }}
                </div>
     {% endif %}
              <div class="page-title">

                        <h3 class="breadcrumb-header"><i class=" icon-star-empty icon-large icon-d"> </i>Important Todo</h3>
                    </div>
                <div id="main-wrapper">
                    <div class="row">
                        <div class="col-md-12">
                            <div id="panel" class="panel panel-white">
                                 Today Date <p maxlength="10" id="date"></p>
                                <div class="panel-body">
                                      <div class="todo-list">
                                          <style>
  #panel li {
 list-style:none;
 }
 .breadcrumb-header{
 color:#d50000;
 }
 #panel{
 background-color:#ffebee;
 }

                                              .btn-circle {
  width: 20px;
  height: 20px;
  text-align: center;
  padding: 6px 0;
  font-size:6px;
  line-height: 1.428571429;
  border-radius: 15px;
}
#button:hover{
 background-color:#0070E0;
}
.icon-d {
    color:  #d50000;
    font-size:20px;
}

                                          </style>
                                          <ul> {% for important in importants %}
                                              <li>
                                                        <button type="submit"  id="button" class="btn btn-default btn-circle" data-toggle="tooltip" data-placement="left"
  title="complete task"></button><i class=" icon-star icon-large icon-d pull-right"> </i>
                                                   <span class style=" padding-left:20px; font-size:15px; letter-spacing:1px;">
                                                       <a href="{% url 'viewtodo' important.id %}"><b>{{ important.todotitle }}</b></a></span><br>-
                                                         <span class style="padding-left:20px; font-size:15px; letter-spacing:1px;">{{ important.notes }} </span>
                                              </li><br>
                                              {% endfor %}

                                          </ul>


                                      </div>
                                </div>
                            </div>
                        </div>
                    </div><!-- Row -->
                </div><!-- Main Wrapper -->

                <div class="page-footer">
                    <p>Made with <i class="fa fa-heart"></i> by Aditya</p>
                </div>
                </div><!-- /Page Inner -->
{% endblock %}